.links a{
    text-decoration: none;
    margin: 5px;
    color: white;
    font-weight: bold;
}

.imagee{
    width: 50px;
    border-radius: 50%;
}
.name{
    margin-top: 25px;
    margin-left: 25px;
    color: aliceblue;
}